.subtitle {
    text-align: center;
}

.homeBox {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.grid {
    width: 90%;
    margin-top: 20px;
}

.headerGrid {
    display: flex;
    justify-content: space-between;
}

.headerGrid .headerItem, .divRow .rowItem {
    width: 20%;
}

.headerItem {
    display: flex;
    padding: 15px;
    color: #FFF;
    background-color: #1A2454;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFF;
}

.divRow {
    display: flex;
    flex-direction: row;
    color: #444;
}

.rowItem {
    padding: 15px;
    border: 1px solid #FFF;
}

.imparRow{
    background-color: #EEE;
}

.searchBox {
    margin: 10px 0px;
}

.searchInput, .optionFilter {
    padding: 0px 8px;
    height: 40px;
    border-radius: 12px;
    border: 1.5px solid #D5DCE5;
    margin-right: 10px;
}